%align {
  display: flex;
  align-items: center;
}
@mixin line-height-calc($fs, $lh, $fw) {
  $lh-n: $lh * 1000;
  $lh-b: $lh-n / $fs;
  $lh-round: ceil($lh-b);
   $lh-my: $lh-round/1000;
  font-size: $fs * 1px;
  line-height: $lh-my;
  font-weight: $fw;
}

.footer {
   background-color: var(--header-footer-color);
   padding-top: 60px;
   padding-bottom: 60px;
    display: flex;
    align-items: baseline;
  
   }
  
   .address-list-item:not(:last-child) {
    margin-bottom: 9px;
   }
   .address-list-item-link {
     font-family: var(--text-font);
     @include line-height-calc(14, 24, 400);
     letter-spacing: 0.03em;
    color: var(--text-color-accent);
   }
 .address-list-item-link-tel,
  .address-list-item-link-mail {
    font-family: var(--text-font);
    @include line-height-calc(14, 24, 400);
   letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--duration) var(--cubic);
   }
   .address-list-item-link-tel:hover,
   .address-list-item-link-mail:hover,
     .address-list-item-link-tel:focus,
   .address-list-item-link-mail:focus{
    color: var(--link-color);
   }
   .footer-title{
    color: var(--background-color);
    margin-bottom: 20px;
    font-family:var(--text-font);
    font-style: normal;
    @include line-height-calc(14, 16, 700);
    letter-spacing: 0.03em;
    text-transform: uppercase;
   }
  .footer-icons{
       width: 206px;
       display: block;
   }
   .icon-link .dark-them{
     color: var(--background-color);
   }
   .icon-list-item .dark-them{
     background-color: rgba(255, 255, 255, 0.1);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

     &:hover,
     &:focus{
       background-color: var(--link-color);
       color: var(--background-color);
     }
   }
   .icon-list-item .dark-them-1{
     fill:var(--background-color);
   }

  .address-list-item:not(:last-child) {
       margin-bottom: 9px;
     }
     .address-list-item-link {
       font-family: var(--text-font);
       @include line-height-calc(14, 24, 400);
       letter-spacing: 0.03em;
       color: var(--text-color-accent);
     }
     .address-list-item-link-tel,
     .address-list-item-link-mail {
       font-family: var(--text-font);
       @include line-height-calc(14, 24, 400);
       letter-spacing: 0.03em;
       color: rgba(255, 255, 255, 0.6);
       transition: color var(--duration) var(--cubic);
     }
     .address-list-item-link-tel:hover,
     .address-list-item-link-mail:hover,
     .address-list-item-link-tel:focus,
     .address-list-item-link-mail:focus{
       color: var(--link-color);
     }
     .footer-title{
       color: var(--background-color);
       margin-bottom: 20px;
      font-family:var(--text-font);
      font-style: normal;
      @include line-height-calc(14, 16, 700);
      letter-spacing: 0.03em;
      text-transform: uppercase;
     }
     .footer-icons{
      
        width: 206px;
        display: block;
      }
     .icon-link .dark-them{
       color: var(--background-color);
     }
     .icon-list-item .dark-them{
       background-color: rgba(255, 255, 255, 0.1);
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
       &:hover,
       &:focus{
         background-color: var(--link-color);
         color: var(--background-color);
       }
     }
     .icon-list-item .dark-them-1{
       fill:var(--background-color);
     }
   
 


.address-list-item-link {
  font-family: var(--text-font);
  @include line-height-calc(14, 24, 400);
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
 }

.address-list-item-link-tel,
.address-list-item-link-mail {
 font-family: var(--text-font);
 @include line-height-calc(14, 24, 400);
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
transition: color var(--duration) var(--cubic);
}

 .address-list-item-link-tel:hover,
 .address-list-item-link-mail:hover,
 .address-list-item-link-tel:focus,
 .address-list-item-link-mail:focus{
  color: var(--link-color);
 }
  
/* .footer-address{
   text-align: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   margin-bottom: 60px;
  }*/
.address-list{
 margin-top: 20px;
}

.footer-icons{
   margin-top: 60px;
   align-items: center;
  
 }

.footer-title{
  color: var(--background-color);
  margin-bottom: 20px;
 font-family:var(--text-font);
 font-style: normal;
  @include line-height-calc(14, 16, 700);
 letter-spacing: 0.03em;
 text-transform: uppercase;
  text-align: center;
}
.icon-link .dark-them{
 color: var(--background-color);
}
     
.icon-list-item .dark-them{
   background-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
       &:hover,
       &:focus{
         background-color: var(--link-color);
         color: var(--background-color);
        }
}
.icon-list-item .dark-them-1{
    fill:var(--background-color);
  }

.list-footer{
    width: 100%;
    height: 44px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:479px){
  .footer-address{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 60px;
   }
   .footer-title{
     margin-bottom: 20px;
     text-align: center;
   }
   .footer-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: 206px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
   }
}
@media screen and(min-width:480px){
  .footer-address{
    align-items: center;
 text-align: center;
 display: flex;
 flex-direction: column;
 flex-shrink: 0;
 margin-bottom: 60px;
 } 
 .footer-icons{
  display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 60px;
 width: 206px;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
 }
 }
  @media screen and(min-width:768px){
    .footer-address{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 60px;
     }
     .footer .container{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: baseline;
       justify-content: space-around;
     }
     .footer-icons{
       margin-left: 0;
       margin-right: 0;
     }
     .address-list{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0;
     }
     .logo-link-dark-theme{
       margin-bottom: 20px;
       padding: 0;
       margin-right: 0;
       align-items: center;
     }
   }
   
  
   
     @media screen and (min-width:1200px){
      .footer-address{
      align-items: flex-start;
      margin-right: 70px;
      margin-bottom: 0;
      width: 231px;
      }
      .footer .container{
        flex-wrap: nowrap;
        display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-around;
      }
      .address-list{
        align-items: flex-start;
      }
      }
    