/*.header .container {
    display: flex;
  }
  .header{
    border-bottom: 1px solid #ECECEC;
  }*/
  @mixin line-height-calc($fs, $lh, $fw) {
    $lh-n: $lh * 1000;
    $lh-b: $lh-n / $fs;
    $lh-round: ceil($lh-b);
     $lh-my: $lh-round/1000;
    font-size: $fs * 1px;
    line-height: $lh-my;
    font-weight: $fw;
  }
 
  
  .logo-link {
    padding:15px 16px;
    font-family: var(--logo-font);
    @include line-height-calc(24, 28, 700);
    letter-spacing: 0.03em;
    font-style: normal;
  }
  .logo-web {
    color: var(--link-color);
    font-family: var(--logo-font);
    font-style: normal;
  }
  .logo-link-dark-theme {
    color: var(--text-color-accent);
  }
  
  .logo-link-light-theme {
    color: #000000;
  }
 
  @media screen and (max-width:767px){
    .navigation-list{
      display: none;
    }
    .auth-nav{
      display: none;
    }
    .header{
      padding-top:16px;
      padding-bottom: 16px;
    }
    .burger-btn,
    .close-mobile-btn{
      background-color:transparent;
      border: none;
      padding:0;
      /*width: 24px;
      height: 16px;*/
    }
    .close-mobile-btn{
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      padding: 0;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      display: flex;
      align-items: center;
    
    }
    .close-mobile-icon{
      width: 18px;
      height: 18px;
      display: flex;
      fill: currentColor;
      
      &:hover,
      &:focus{
        color: var(--link-color);

      }
      .close-mobile-btn:hover &,
      .close-mobile-btn:focus &{
      color:var(--link-color);
      }
    }
    
    .burger-icon{
      width: 24px;
      height: 16px;
    }
    .mobile-menu{
      position:absolute;
      top: 0;
      left:50%;
      transform: translateX(-50%) translateY(-150%);
      width: 100%;
      max-width: 480px;
      height: 796px;
      padding: 48px 40px;
      background-color: white;
      transition: transform 300ms linear;
    }
    .mobile-menu.is-open{
      transform: translateX(-50%) translateY(0%);
    }
    .mobile-link-studio{
     font-family:var(-text-font);
     font-style: normal;
     @include line-height-calc(40, 47, 500);
     text-align: center;
     letter-spacing: 0.02em;
     color: var(--title-color) ;
      &:focus,
      &:hover{
       color:var(--link-color);
      
     }
   
    }
    .mobile-link-studio:not(last-child){
    
     margin-bottom: 32px;
    }
    .mobile-link-studio{
    display: flex;
    }
    .mobile-list-studio{
      padding-bottom:306px ;
     
    }
    .mobile-link-tel{
      display: flex;
      font-family:var(--text-font);
     font-style: normal;
     @include line-height-calc(34, 40, 500);
     letter-spacing: 0.02em;
      color:var(--link-color);
      margin-bottom: 32px;
    }
    .mobile-link-mail{
      font-family:var(--text-font);
      font-style: normal;
     @include line-height-calc(24, 28, 500);
     letter-spacing: 0.02em;
      color:var(--accent-color);

    }
    .mobile-list-auth{
      padding-bottom: 64px;
    }
    .mobile-list{
      display: flex;
    }
    .mobile-item{
      display: inline-flex;
      padding-left: -10px;
      
     
    }
    .mobile-link{
      display:inline-flex;
      font-family: var(--text-font);
      font-style: normal;
      @include line-height-calc(18, 22, 500);
      letter-spacing: 0.02em;
      color:var(--link-color);
      padding-right: 10px;
      padding-left: 10px;
     
    
    }
    
    .mobile-link:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      
         }
 }
  
  @media screen and (min-width:768px){
    .burger-btn{
      display: none;
    }
    .mobile-menu{
      display: none;
    }
    .navigation-list {
      display: flex;
    }
    .header{
      height: 80px;
    }
  }
