@mixin line-height-calc($fs, $lh, $fw) {
  $lh-n: $lh * 1000;
  $lh-b: $lh-n / $fs;
  $lh-round: ceil($lh-b);
   $lh-my: $lh-round/1000;
  font-size: $fs * 1px;
  line-height: $lh-my;
  font-weight: $fw;
}
.hero-btn {
    padding: 10px 32px;
    width: 200px;
    font-family: var(--text-font);
    @include line-height-calc(16, 30, 700);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--link-color);
    color: var(--background-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--cubic);
    cursor: pointer;
    border: none;
    
    &:hover,
    &:focus {
      background-color: var(--link-color);
      color: var(--text-color-accent);
    }
 
  }
  
  
  