@mixin line-height-calc($fs, $lh, $fw) {
  $lh-n: $lh * 1000;
  $lh-b: $lh-n / $fs;
  $lh-round: ceil($lh-b);
   $lh-my: $lh-round/1000;
  font-size: $fs * 1px;
  line-height: $lh-my;
  font-weight: $fw;
}

.about-us-title,
.our-team-title,
.our-clients-title {
  font-family: Roboto;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and(min-width:480px){
  .our-team-title{
    @include line-height-calc(28, 33, 700);
    margin-bottom: 30px;
  }
}
.our-team-list-item-title{
  font-family: Roboto;
font-style: normal;
@include line-height-calc(16, 19, 500);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color);
margin-bottom: 10px;
}
.our-clients-title{
@include line-height-calc(28, 33, 500);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;
}