:root {
    --text-font: "roboto", sans-serif;
    --logo-font: "raleway", sans-serif;
    --accent-color: #757575;
    --title-color: #212121;
    --header-footer-color: #2f303a;
    --link-color: #2196f3;
    --text-logo: "Oleo Script", sans-serif;
    --text-color-accent: #e5e5e5;
    --our-tem-color: #f5f4fa;
    --background-color: #ffffff;
    --icon-color: #afb1b8;
    --cubic:cubic-bezier(0.4, 0, 0.2, 1);
    --duration:250ms
  
  
  }